<mat-toolbar color="primary"><h1><button (click)="onWeatherClick()" mat-raised-button> Weather App!</button></h1></mat-toolbar>
<br>
  <div *ngIf="show==false">
    <mat-card>
      <form (submit)="onSearch(postForm)" #postForm="ngForm">
          <mat-form-field>
              <p>Zip Code</p>
              <input matInput type="text" name="zipCode" ngModel required>
            </mat-form-field><button mat-raised-button color="primary" type="submit">Enter</button>
      </form>
    </mat-card>
  </div>
  <br>
  <div *ngIf="progress" style="margin:center">
      <mat-spinner></mat-spinner>
  </div>
  <br>
  <div *ngIf="show">
    <mat-card>
        <h1>{{ city }} </h1>
        <h4>{{ zipCode }}</h4>
        <h2>{{ state }}</h2>
    </mat-card>
    <br>
  </div>
  <div *ngIf="show" style="margin: auto;width:60%;">
    <mat-accordion *ngFor="let card of info">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>{{ card.day }} - {{ card.date }}</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card-content class="details">
                <div><strong>Temperature:</strong> {{ card.temp }}<span>&#176;</span> F</div>
                <div><strong>Wind Speed:</strong> {{ card.windSpeed }}</div>
                <div><strong>Wind Direction:</strong> {{ card.windDirection }}</div>
                <div><strong>Forecast:</strong> {{ card.forecast }}</div>
            </mat-card-content>
        </mat-expansion-panel>
          <br>
        </mat-accordion>
  </div>



